
.table {
    padding: 10px;
    text-align: center;
}
.rightColumn {
    text-align: right;
}

.leftColumn {
    text-align: left;
}

.centerColumn {
    text-align: center;
}

.filterTable {
    width: 100%;
}
.grayRow {
    background-color: darkgray;
}